*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
将删除 gbaPhotoPicker/build/generated/assets/
将删除 gbaPhotoPicker/build/generated/res/
将删除 gbaPhotoPicker/build/generated/source/aidl/
将删除 gbaPhotoPicker/build/generated/source/rs/
将删除 gbaPhotoPicker/build/intermediates/annotations/
将删除 gbaPhotoPicker/build/intermediates/assets/
将删除 gbaPhotoPicker/build/intermediates/bundles/debug/aidl/
将删除 gbaPhotoPicker/build/intermediates/bundles/debug/assets/
将删除 gbaPhotoPicker/build/intermediates/bundles/debug/jni/
将删除 gbaPhotoPicker/build/intermediates/bundles/debug/libs/
将删除 gbaPhotoPicker/build/intermediates/bundles/release/aidl/
将删除 gbaPhotoPicker/build/intermediates/bundles/release/assets/
将删除 gbaPhotoPicker/build/intermediates/bundles/release/jni/
将删除 gbaPhotoPicker/build/intermediates/bundles/release/libs/
将删除 gbaPhotoPicker/build/intermediates/classes/release/cn/bingoogolapple/photopicker/imageloader/BGAGlideImageLoader$3.class
将删除 gbaPhotoPicker/build/intermediates/dependency-cache/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/cn.bingoogolapple/bga-adapter/1.1.0/aidl/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/cn.bingoogolapple/bga-adapter/1.1.0/assets/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/cn.bingoogolapple/bga-adapter/1.1.0/jni/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/cn.bingoogolapple/bga-adapter/1.1.0/libs/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/cn.bingoogolapple/bga-adapter/1.1.0/res/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.0/aidl/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.0/assets/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.0/jni/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.0/libs/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.0/res/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.0/aidl/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.0/assets/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.0/jni/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.0/libs/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.2.0/aidl/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.2.0/assets/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.2.0/jni/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.2.0/libs/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.0/assets/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.0/jni/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.0/libs/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.0/res/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.0/aidl/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.0/assets/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.0/jni/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.0/libs/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.0/res/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.0/aidl/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.0/assets/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.0/jni/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.0/libs/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.0/res/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.0/aidl/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.0/assets/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.0/jni/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.0/libs/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.0/res/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.0/assets/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.0/jni/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.0/libs/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.0/res/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.0/aidl/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.0/assets/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.0/jni/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.0/libs/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.0/res/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.0/aidl/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.0/assets/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.0/jni/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.0/libs/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.0/res/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/org.xutils/xutils/3.3.36/aidl/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/org.xutils/xutils/3.3.36/assets/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/org.xutils/xutils/3.3.36/libs/
将删除 gbaPhotoPicker/build/intermediates/exploded-aar/org.xutils/xutils/3.3.36/res/
将删除 gbaPhotoPicker/build/intermediates/jniLibs/
将删除 gbaPhotoPicker/build/intermediates/lint/
将删除 gbaPhotoPicker/build/intermediates/manifest/tmp/
将删除 gbaPhotoPicker/build/intermediates/rs/
将删除 gbaPhotoPicker/build/intermediates/shaders/
将删除 gbaPhotoPicker/build/intermediates/transforms/
将删除 gbaPhotoPicker/build/tmp/compileDebugJavaWithJavac/
将删除 gbaPhotoPicker/build/tmp/compileReleaseJavaWithJavac/
将删除 weiboSDK/build/generated/assets/
将删除 weiboSDK/build/generated/res/
将删除 weiboSDK/build/generated/source/aidl/
将删除 weiboSDK/build/generated/source/rs/
将删除 weiboSDK/build/intermediates/assets/
将删除 weiboSDK/build/intermediates/bundles/debug/aidl/
将删除 weiboSDK/build/intermediates/bundles/debug/assets/
将删除 weiboSDK/build/intermediates/bundles/debug/jni/
将删除 weiboSDK/build/intermediates/bundles/release/aidl/
将删除 weiboSDK/build/intermediates/bundles/release/assets/
将删除 weiboSDK/build/intermediates/bundles/release/jni/
将删除 weiboSDK/build/intermediates/dependency-cache/
将删除 weiboSDK/build/intermediates/jniLibs/
将删除 weiboSDK/build/intermediates/lint/
将删除 weiboSDK/build/intermediates/manifest/tmp/
将删除 weiboSDK/build/intermediates/rs/
将删除 weiboSDK/build/intermediates/shaders/
将删除 weiboSDK/build/intermediates/transforms/mergeJniLibs/
将删除 weiboSDK/build/tmp/
