<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xiaoyu.myweibo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppStartLoad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 微博授权页 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.UserHomeActivity">
        </activity>
        <activity android:name=".activity.TopicActivity">
        </activity>
        <activity android:name=".activity.MyUserInfoActivity">
        </activity>
        <activity android:name=".activity.MyWeiboActivity">
        </activity>
        <activity android:name=".activity.MyPhotoActivity">
        </activity>
        <activity android:name=".activity.MyRelationActivity">
        </activity>
        <activity android:name=".activity.SingleWeiboActivity">
        </activity>
        <activity android:name=".activity.WebContentActivity">
        </activity>
    </application>

</manifest>